<!-- <div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Currency</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Components</a>
                    </li>
                    <li class="breadcrumb-item active">Modal
                    </li> 
        </ol>
      </div>
    </div>
  </div>
</div> -->
<div class="content-body">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Upload</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li><a (click)="showGridView()"><i class="fa fa-th-large"></i></a></li>
                <li><a (click)="showTreeView()"><i class="fa fa-tree"></i></a></li>
                <!-- <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                  <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  <li><a data-action="close"><i class="ft-x"></i></a></li> -->
              </ul>
            </div>
          </div>
         <!-- body here -->
        <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>features</th>
            </tr>
          </thead>
          <tbody *ngIf="tableList?.length != 0">
            <tr *ngFor="let tb of tableList">
              <td>{{tb.modelName}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="tableList?.length == 0">
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          <tbody>
          <button type="button" (click)="onSubmit()">Download</button> 
        </table>
     
        </div>
        
        </div>
      </div>
    </div>
  </section>
</div>

